.parrafo1{
    background-color: rgb(126, 214, 80);
}
.parrafo2{
    background-image: url("/colores/carretera.webp");
}
p{
    text-align: center;
    text-decoration:underline;
    letter-spacing:2px;
    word-spacing: 5px;
    line-height:35px;
    text-transform:uppercase;
}
